{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Login</title>
    <link rel="stylesheet" href="{% static 'guest_login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Guest Login</h2>
        <form action="{% url 'guest_login' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" style=" background-color:blue;">Login</button>
        </form>
        {% for message in messages %}
        <h4 style="color: blue; text-align: center; padding:12px; border:2px; border-radius:4px;">{{message}}</h4>
        {% endfor %}
    </div>
</body>
</html>